*.log
*.tmp
*.temp

# -----------------------------
# OS-specific
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Spark (optional)
# -----------------------------
spark-warehouse/
derby.log

# -----------------------------
# VSCode / IDE
# -----------------------------
.vscode/
.idea/
